.header {
	background: linear-gradient(to right, #78af57, #0c5e05);
	font-family: Arial;
	font-family: 100;
	padding: 10px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
