.header {
	background: linear-gradient(to right, #5a5d58, #840606);
	font-family: Arial;
	font-size: 14px;
	padding: 10px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
